# Ignore everything
*

# Except docs folder
!docs/
!docs/**

# But ignore these files in docs
docs/REMAINING_TASKS.md
docs/assets/

# Allow GitBook config
!.gitbook.yaml

# And gitignore itself
!.gitignore
